.main-nav {
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  border-top: solid 3px var(--red);
  box-shadow: 0px 1px 5px #00000333;
  position: fixed;
  z-index: 5;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  height: 100%;
  min-width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem;
}
.nav-logo {
  padding: 5px 1rem;
  margin-top: 10px;
}
.nav-logo > img {
  width: 2rem;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.navIcons > a {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 2rem;
  padding: 0.2rem 0.5rem 0.7rem 0.5rem;
}
.navIcons>a>img{
  width: 1.6rem;
}

.navIcons > img {
  width: 1.5rem;
  margin: 0rem 2rem;

  height: 1.5rem;
}
.Search {
  color:var(--red);
}

.r-button {
  height: 3rem;
  width: 80%;
  align-self: center;
}
.active{
  font-weight: bolder;
  color: black;
  background-color: rgb(225, 225, 225);
 
}

/* media queries */
@media screen and (max-width: 960px) {
  .nav-btn {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  /* .navbar {
    width: 100%;
  }
  .nav-logo {
    padding: 3px 10px;
  } */
  .nav {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .navbar>div{
    margin: 0rem 0rem;
  }
}
